
<!-- displaing the items currently selected and added for buying -->
<div class="card">
    <div class="card-header">
        <b>My Cart</b>
    </div>

<!-- price of items selected -->
    <div class="list-group" id="myitems">
        <li class="list-group-item">
            <span>Item 1</span><span>x</span><span>4</span> : <b>{{500|currency:"INR"}}</b>
        </li>
        <li class="list-group-item">
            <span>Item 2</span><span>x</span><span>2</span> : <b>{{300|currency:"INR"}}</b>
        </li>
        <li class="list-group-item">
            <span>Item 3</span><span>x</span><span>3</span> : <b>{{100|currency:"INR"}}</b>
        </li>
        <li class="list-group-item">
            <span>Item 4</span><span>x</span><span>1</span> : <b>{{50|currency:"INR"}}</b>
        </li>

        <li class="list-group-item active">
            <b>Total: {{950|currency:"INR"}}</b>
        </li>
    </div>

</div>

<!-- for user to continue buying with the selected products -->
<div class="card buynow">
    <div class="list-group">
        <button class="list-group-item active">
            <a href="http://localhost:62700/YnotFresh/profile/login" id ="buynowT"><b>Buy Now</b></a>
        </button>
    </div>
</div>
