<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/3e1ce2a2446b624a1fe18aa555b0196b/L0KzQYq4UMIyN5x5ipH9cnHxg8HokvVvfF51gdD0LX7yg7a0gBhqa5xqhp9rcnXkg8W0gBhqa5xqhp9saHnme7b1Tf1maaUye9pyY3vofn77kvFve6Fmitd3dD3zfri0if1ib5YyfuRuZYDxd7r0gfdmNZR0hadtYkHoQ4XsVcQ2OZU7Rqs9N0izQoS9UcU4OWo4UaMAMEO3RYW1kP5o/transparent-pink-nose-chicken-breast-chicken-chicken-meat-chicken-transparent-png-image-freepngimage-com5db1e34e5451d6.9478023615719391503454.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{150|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
