<!-- filtering the products displaying -->
<div class="card">
    <div class="card-header">
        <b>Filter</b>
    </div>
    <div class="items">

        <div class="card-body">
            <form>
                <!-- for sorting the price range -->
                <div class="form">
                    <label for="from">From</label>
                    <input type="number" id="from" class="form-control" min="100" max="500" />
                </div>

                <div class="form">
                    <label for="from">To</label>
                    <input type="number" id="from" class="form-control" min="500" max="2000" />
                </div>

                <button class="btn btn-primary btn-block btn-sm">Filter By Price</button>


                
                <!-- for sorting the items base on criterias -->
                <div class="dropdown">
                    <button class="btn btn-primary btn-block " type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort By
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li class="dropdown-item">Price</li>
                        <li class="dropdown-item">Availability</li>
                    </ul>
                </div>
            </form>
        </div>

    </div>
</div>
