
/* styling the whole filter items */
.items
{
 padding-bottom:80px ;
}

/* styling items range */
#from
{
    width: 150px;
    height: 30px;
}
button
{
    width: 150px;
    height: 20px;
    padding:0%;
}


/* 
styling dropdown */
.dropdown
{
    margin-top:10px;
}
