

/* 
editing header styles */
header
{
background-image: linear-gradient(to right,rgb(49, 81, 170), rgb(184, 204, 230)); 
}


/* website logo */
.owner img
{
width: 120px;
height: 100px;
position: absolute;
top:1px;
bottom: 120%;
}


/* styling navigation bar */
.navbar
{
    padding: 3%2%1%2%;
    align-items: center;
    border-radius: 10px;
    font-size: 26px;
}
.nav li a
{
    color: black;
}


/* styling for contact information in footer*/
.contactUs, .float-end p
{
   text-align: center;
}
.contactUs
{
    padding-top: 10px;
    padding-bottom: 0px;
}

.active
{
    background-color: rgb(77, 162, 77);
}

.active:hover
{
    background-color: rgb(9, 70, 9);
}
footer .text-small
{
    padding-top: 0px;
    padding-bottom: 0px;
}
