<!-- <section class="primary"> -->


<!--Navigation bar-->
<header>
  <div class="navbar">
    <!-- company Logo -->
    <a class="owner"><img src="assets\Y-NotFresh.png" routerLink="home"></a>

    <!-- nav items for components -->
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#" routerLink="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#" routerLink="purchase">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="#" routerLink="profile">Profile</a>
      </li>
      <form class="d-flex">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" height="90px">
        <button class="btn btn-outline-success btn-xl active" type="submit">Search</button>
      </form>
    </ul>
  </div>
</header>




<!-- for displaying the components -->
<router-outlet></router-outlet>



<footer>
<!-- providing company informations -->
  <section class="contactUs">
    <div class="content">
      <h2>Contact Us</h2>
      <hr>
      <p>Feel free to contact us and join using the below details</p>
    </div>

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="icon"><i class="fa fa-map-marker" aria-hidden="true"></i></div>
          <div class="text">
            <h3>Adress</h3>
            <p>xysz building, <br>wxq street,<br>mnop district</p>
          </div>
        </div>
        <div class="col">
          <div class="icon"><i class="fa fa-phone" aria-hidden="true"></i></div>
          <div class="text">
            <h3>Phone</h3>
            <p>123-456-7890</p>
          </div>
        </div>
        <div class="col">
          <div class="icon"><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
          <div class="text">
            <h3>Email</h3>
            <p>ynotfresh@gmail.com</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <hr>

<!-- 
  copyright and trademark details -->
  <div class="my-5 pt-5 text-muted text-center text-small copy">
    <p class="mb-1">&copy; 2017–2021 Y-Not Fresh Pvt Ltd</p>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Privacy</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
      <li class="list-inline-item"><a href="#">Support</a></li>
    </ul>
  </div>

</footer>
