<div class="album py-5 bg-light">
    <div class="container">

<!-- 
        styling grocery items -->
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/1bb26c83f29bcf485e234a2a45bea9a6/L0KzQYm3VMI3N5t5fZH0aYP2gLBuTfJzd5Roh95yLXB1d7L1ifMubpD0fJ9sYYXvebfzjCdmel57fdludHHlfLa0gwJwa5R0hNs2NXHoQonrU8NjaWRpS6c3MES1R4q9UcUyPWM5T6sBN0K2R4e5WL5xdpg=/kisspng-broccoli-organic-food-cauliflower-vegetable-broccoli-5ae28d33ba3d35.0427961515247967237628.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{60|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
