
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img width="100%"
                        src="https://png2.cleanpng.com/sh/0ce25114981e7f0bd4b85cc6cbfdbe32/L0KzQYi4UsIxN5dpfZGAYUPkdoaCUcFjapJqUZC9MkC7Q4S8WME2OWQ9SaU8OUO0QYS9Vck4QF91htk=/5a3af5911bbae9.42083358151381339311365978.png">

                    <div class="card-body">
                        <p class="card-text">
                            <b>{{170|currency:"INR"}}/Kg</b>
                        </p>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional content. This content is a little bit longer.</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-primary">Add to cart</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">View details</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        
            
        </div>
    </div>
</div>
